<%
// Define the card dictionary
const cardDict = {
  "card1": {
    "title": "Winter Park",
    "description": "Winter Park, recently voted #1 Ski Resort in North America by USA Today readers, is the closest major mountain destination to Denver and offers train access right at the base, making it as easy to get to as it is to love. With over 3,000 acres of skiable terrain and some of the most consistent snow in Colorado, world-class skiing meets laid back living in Winter Park. Come for the quintessential Colorado experience. Colorado unfiltered.",
    "image_url": "/resources/images/first.png",
    "url": "https://www.winterparkresort.com/",
    "filtertype": "Ikon"
  },
  "card2": {
    "title": "Epic Resort",
    "description": "Epic Resort in Colorado offers breathtaking mountain vistas coupled with world-class skiing conditions. The resort embraces all, from skiing novices to experts, with its diverse range of slopes. Enjoy après-ski activities in the vibrant village, making your stay an unforgettable blend of adventure and relaxation.",
    "image_url": "/resources/images/second.png",
    "url": "https://www.winterparkresort.com/",
    "filtertype": "Epic"
  },
  "card3": {
    "title": "Indy Resort",
    "description": "Indy Resort in Colorado is a charming winter haven, renowned for its intimate setting and diverse terrains. It offers a unique blend of thrilling ski slopes and pristine natural beauty. Perfect for adventurers and peace-seekers alike, Indy Resort promises an unforgettable, immersive mountain experience.",
    "image_url": "/resources/images/third.png",
    "url": "https://www.winterparkresort.com/",
    "filtertype": "Indy"
  },
  "card4": {
    "title": "Mountain Resort",
    "description": "Mountain Resort in Colorado is a high-altitude paradise, offering unparalleled panoramic views and top-tier ski trails. Ideal for thrill-seekers and nature lovers, its pristine slopes and cozy lodges create the perfect setting for a rejuvenating getaway. Discover your own mountain nirvana at Mountain Resort.",
    "image_url": "/resources/images/fourth.png",
    "url": "https://indyskipass.com/resort/echo-mountain/",
    "filtertype": "Mountain"
  },
  "card6": {
    "title": "Sun Valley",
    "description": "Nestled 6,000 feet high among the mountains and ranchlands of south-central Idaho, Sun Valley is surrounded by almost a million acres of alpine beauty.",
    "image_url": "/resources/images/SunValley.jpg",
    "url": "https://mountaincollective.com/resort/sun-valley/",
    "filtertype": "Mountain"
  },
  "card7": {
    "title": "Steamboat",
    "description": "Welcome to “Ski Town U.S.A.®,” where outdoor adventure and the Wild West collide. Steamboat is home to some of the greatest skiing in North America, not to mention some of the greatest Olympians, and where Champagne Powder® Snow was born.",
    "image_url": "/resources/images/SteamboatSprings.jpg",
    "url": "https://www.steamboat.com/?_ga=2.267435658.505848605.1682742438-1868972822.1682742438&_gac=1.57089112.1682742438.Cj0KCQjw3a2iBhCFARIsAD4jQB2He-jtnPBg_aJEHNl3nGDFiBhWXCUUoVifTW876-iaJnYhZjrjvjcaAlhJEALw_wcB",
    "filtertype": "Ikon"
  },
  "card8": {
    "title": "Granby Ranch",
    "description": "Granby Ranch has nearly 1,000 feet of vertical with 41 trails and over 400 acres of skiable terrain with a full-service rental shop and ski school. Enjoy multiple dining options and night skiing on holiday Fridays and Saturdays. For a different kind of Colorado skiing experience, come to Granby Ranch.",
    "image_url": "/resources/images/GranbyRanch.jpg",
    "url": "https://www.indyskipass.com/resort/granby-ranch/",
    "filtertype": "Indy"
  },
  "card9": {
    "title": "Copper Mountain",
    "description": "Copper Mountain is a Colorado favorite with naturally divided terrain that offers beginner skiing to the east, intermediate terrain in the middle, and expert skiing to the west. For experts exploring the west side, nothing beats free cat skiing on Tucker Mountain, and for park riders and skiers, head over to the renowned Woodward Terrain Parks.",
    "image_url": "/resources/images/CopperMountain.jpg",
    "url": "https://www.coppercolorado.com/",
    "filtertype": "Ikon"
  }
};


// Create an array of card objects
const cardArray = Object.keys(cardDict).map(function(key) {
  return {
    title: cardDict[key].title,
    description: cardDict[key].description,
    image_url: cardDict[key].image_url,
    url: cardDict[key].url,
    filtertype:cardDict[key].filtertype
  };
});
%>

<div class="card-deck">
    <% cardArray.forEach(function(card) { %>
        <div class="row mb-5">
            <div class="col">
                <div class="card" style="width: 18rem" data-filter-type="<%= card.filtertype %>">
                    <img class="card-img-top" src="<%= card.image_url %>" alt="IMAGE UNAVAILABLE">
                    <div class="card-body">
                        <h5 class="card-title"><%= card.title %></h5>
                        <p class="card-text"><%= card.description %></p>
                        <a href="<%= card.url %>" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    <% }); %>
  </div>