<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>
<!DOCTYPE html>
<html>
  <head>
    <title>PassPair Calendar Match</title>
    <meta charset="utf-8" />
  </head>
  <body>
    
    <iframe src="https://calendar.google.com/calendar/embed?src=c_c040f8a6635852b55af72efaae0f2b5ea840b0c10bc9dfc66944aa141611ddb0%40group.calendar.google.com&ctz=America%2FDenver" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <% const skiPasses = ['ikon', 'epic', 'indy', 'mountain_collective']; %>
    <% const matchedUsers = users.filter(user => skiPasses.some(pass => user[pass])); %>
    <% const randomUser = matchedUsers[Math.floor(Math.random() * matchedUsers.length)]; %>

<div>
  <h2>Matched User:</h2>
  <p><strong>Username:</strong> <%= randomUser.username %></p>
  <p><strong>Proficiency:</strong> <%= randomUser.proficiency %></p>
  <p><strong>Ski Passes:</strong> <%= skiPasses.filter(pass => randomUser[pass]).join(', ') %></p>
</div>

    </script>
  </body>
</html>
<%- include ('../partials/footer') %>