<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<script> console.log(document.getElementById('myFilter').value); console.log('yayaya');</script>
<main>
  <div class="container">
    <div style="font-family: Montserrat;">
      <center><h1 style="padding-top: 8%; padding-bottom: 8%; font-family: Montserrat;">Welcome, <strong><%= PassLocationInfo.username %></strong>!</h1></center>
      <form method="post" action="/updateProficiency">
        <p>Proficiency Level:</p>
        <label>
          <input type="radio" name="proficiency" value="Beginner" <% if (PassLocationInfo.proficiency === 'Beginner') { %>checked<% } %>>
          Beginner
        </label>
        <br>
        <label>
          <input type="radio" name="proficiency" value="Intermediate" <% if (PassLocationInfo.proficiency === 'Intermediate') { %>checked<% } %>>
          Intermediate
        </label>
        <br>
        <label>
          <input type="radio" name="proficiency" value="Advanced" <% if (PassLocationInfo.proficiency === 'Advanced') { %>checked<% } %>>
          Advanced
        </label>
        <br>
        <label>
          <input type="radio" name="proficiency" value="Pro" <% if (PassLocationInfo.proficiency === 'Pro') { %>checked<% } %>>
          Pro
        </label>
        <br>
        <input type="hidden" name="username" value="<%= PassLocationInfo.username %>">
        <br>
        <button class="btn btn-outline-success" type="submit">Save</button>
      </form>
    </div>
    <br>
    <br>    
    <table class="table table-hover">
      <thead style="font-family: Montserrat;">
        <tr>
          <th>Pass</th>
          <th>Purchase Page</th>
          <th>Has Pass?</th>
        </tr>
      </thead>
      <tbody style="font-family: Montserrat;">
        <tr>
          <td><%= PassLocationInfo.ikonName %></td>
          <td>
            <% if (PassLocationInfo.ikon) { %>
              <p><em>You already have this pass!</em></p>
            <% } else { %>
              <a href="<%= PassLocationInfo.ikonUrl %>">Get <%= PassLocationInfo.ikonName %></a>
            <% } %>
          </td>
          <td>
            <form method="post" action="/updatePass">
              <input type="hidden" name="pass" value="ikon">
              <input type="hidden" name="passBool" value=<% if (PassLocationInfo.ikon) { %>false <% }else{ %>true <%}%>>
              <button class="btn btn-outline-dark" type="submit"><% if (PassLocationInfo.ikon) { %>No<% }else { %>Yes<% } %></button>
            </form>
          </td>
        </tr>
        <tr>
          <td><%= PassLocationInfo.epicName %></td>
          <td>
            <% if (PassLocationInfo.epic) { %>
              <p><em>You already have this pass!</em></p>
            <% } else { %>
              <a href="<%= PassLocationInfo.epicUrl %>">Get <%= PassLocationInfo.epicName %></a>
            <% } %>
          </td>
          <td>
            <form method="post" action="/updatePass">
              <input type="hidden" name="pass" value="epic">
              <input type="hidden" name="passBool" value=<% if (PassLocationInfo.epic) { %>false <% }else{ %>true <%}%>>
              <button class="btn btn-outline-dark" type="submit"><% if (PassLocationInfo.epic) { %>No<% }else { %>Yes<% } %></button>
            </form>
          </td>
        </tr>
        <tr>
          <td><%= PassLocationInfo.indyName %></td>
          <td>
            <% if (PassLocationInfo.indy) { %>
              <p><em>You already have this pass!</em></p>
            <% } else { %>
              <a href="<%= PassLocationInfo.indyUrl %>">Get <%= PassLocationInfo.indyName %></a>
            <% } %>
          </td>
          <td>
            <form method="post" action="/updatePass">
              <input type="hidden" name="pass" value="indy">
              <input type="hidden" name="passBool" value=<% if (PassLocationInfo.indy) { %>false <% }else{ %>true <%}%>>
              <button class="btn btn-outline-dark" type="submit"><% if (PassLocationInfo.indy) { %>No<% }else { %>Yes<% } %></button>
            </form>
          </td>
        </tr>
        <tr>
          <td><%= PassLocationInfo.mountainCollectiveName %></td>
          <td>
            <% if (PassLocationInfo.mountain_collective) { %>
              <p><em>You already have this pass!</em></p>
            <% } else { %>
              <a href="<%= PassLocationInfo.mountainCollectiveUrl %>">Get <%= PassLocationInfo.mountainCollectiveName %></a>
            <% } %>
          </td>
          <td>
            <form method="post" action="/updatePass">
              <input type="hidden" name="pass" value="mountain_collective">
              <input type="hidden" name="passBool" value=<% if (PassLocationInfo.mountain_collective) { %>false <% }else{ %>true <%}%>>
              <button class="btn btn-outline-dark" type="submit"><% if (PassLocationInfo.mountain_collective) { %>No<% }else { %>Yes<% } %></button>
            </form>
          </td>
        </tr>
        </tbody>
    </table>
        <br>
        <br>
        <select class="form-control" id="myFilter">
          <option>All</option>
          <option>Ikon</option>
          <option>Epic</option>
          <option>Indy</option>
          <option>Mountain</option>
        </select>
        <br>
        <%- include('../partials/cards') %>

        
          
        
      </div>


<script>
document.getElementById("myFilter").addEventListener('change', function() {
  const selectedFilter = this.value;
  const cards = document.getElementsByClassName('card');
  
  for (let i = 0; i < cards.length; i++) {
    const card = cards[i];
    const filterType = card.getAttribute('data-filter-type');
    
    if (selectedFilter === 'All' || selectedFilter === filterType) {
      card.style.display = '';
    } else {
      card.style.display = 'none';
    }
  }
});
</script>
