<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>


<main>
  <div class="container">
    <div>
      <h2><%= PassLocationInfo.username %></h2>
      <form method="post" action="/updateProficiency">
        <p>Proficiency Level:</p>
        <label>
          <input type="radio" name="proficiency" value="Beginner" <% if (PassLocationInfo.proficiency === 'Beginner') { %>checked<% } %>>
          Beginner
        </label>
        <br>
        <label>
          <input type="radio" name="proficiency" value="Intermediate" <% if (PassLocationInfo.proficiency === 'Intermediate') { %>checked<% } %>>
          Intermediate
        </label>
        <br>
        <label>
          <input type="radio" name="proficiency" value="Advanced" <% if (PassLocationInfo.proficiency === 'Advanced') { %>checked<% } %>>
          Advanced
        </label>
        <br>
        <label>
          <input type="radio" name="proficiency" value="Pro" <% if (PassLocationInfo.proficiency === 'Pro') { %>checked<% } %>>
          Pro
        </label>
        <br>
        <input type="hidden" name="username" value="<%= PassLocationInfo.username %>">
        <button type="submit">Save</button>
      </form>
    </div>
    
    <table>
      <thead>
        <tr>
          <th>Pass</th>
          <th>Purhcase Page</th>
          <th>Has Pass?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= PassLocationInfo.ikonName %></td>
          <td>
            <% if (PassLocationInfo.ikon) { %>
              <p><em>You already have this pass!</em></p>
            <% } else { %>
              <a href="<%= PassLocationInfo.ikonUrl %>">Get <%= PassLocationInfo.ikonNmae %></a>
            <% } %>
          </td>
          <td>
            <form method="post" action="/updatePass">
              <input type="hidden" name="pass" value="ikon">
              <input type="hidden" name="passBool" value=<% if (PassLocationInfo.ikon) { %>false <% }else{ %>true <%}%>>
              <button type="submit"><% if (PassLocationInfo.ikon) { %>No<% }else { %>Yes<% } %></button>
            </form>
          </td>
        </tr>
        <tr>
          <td><%= PassLocationInfo.epicName %></td>
          <td>
            <% if (PassLocationInfo.epic) { %>
              <p><em>You already have this pass!</em></p>
            <% } else { %>
              <a href="<%= PassLocationInfo.epicUrl %>">Get <%= PassLocationInfo.epicName %></a>
            <% } %>
          </td>
          <td>
            <form method="post" action="/updatePass">
              <input type="hidden" name="pass" value="epic">
              <input type="hidden" name="passBool" value=<% if (PassLocationInfo.epic) { %>false <% }else{ %>true <%}%>>
              <button type="submit"><% if (PassLocationInfo.epic) { %>No<% }else { %>Yes<% } %></button>
            </form>
          </td>
        </tr>
        <tr>
          <td><%= PassLocationInfo.indyName %></td>
          <td>
            <% if (PassLocationInfo.indy) { %>
              <p><em>You already have this pass!</em></p>
            <% } else { %>
              <a href="<%= PassLocationInfo.indyUrl %>">Get <%= PassLocationInfo.indyName %></a>
            <% } %>
          </td>
          <td>
            <form method="post" action="/updatePass">
              <input type="hidden" name="pass" value="indy">
              <input type="hidden" name="passBool" value=<% if (PassLocationInfo.indy) { %>false <% }else{ %>true <%}%>>
              <button type="submit"><% if (PassLocationInfo.indy) { %>No<% }else { %>Yes<% } %></button>
            </form>
          </td>
        </tr>
        <tr>
          <td><%= PassLocationInfo.mountainCollectiveName %></td>
          <td>
            <% if (PassLocationInfo.mountain_collective) { %>
              <p><em>You already have this pass!</em></p>
            <% } else { %>
              <a href="<%= PassLocationInfo.mountainCollectiveUrl %>">Get <%= PassLocationInfo.mountainCollectiveName %></a>
            <% } %>
          </td>
          <td>
            <form method="post" action="/updatePass">
              <input type="hidden" name="pass" value="mountain_collective">
              <input type="hidden" name="passBool" value=<% if (PassLocationInfo.mountain_collective) { %>false <% }else{ %>true <%}%>>
              <button type="submit"><% if (PassLocationInfo.mountain_collective) { %>No<% }else { %>Yes<% } %></button>
            </form>
          </td>
        </tr>
        </tbody>
    </table>
        <br>
        <br>
        <br>
          
        
        
        <table>
          <%- include ('../partials/cards') %>
        </table>
      </div>
